@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&family=Poppins:wght@300;400;500;600&family=Raleway:wght@100&display=swap');

body {
  background-color: #010a14;
}

.container {
  display: flex;
  gap: 10px;
}

.sidebar {
  width: 15%;
  background-color: #191e25;
  padding: 20px;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logo {
  color: white;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.sidebar li {
  list-style: none;
  padding: 10px;
  margin-right: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.menu-vertical {
  width: 250px;
  padding: 4px;
  margin: 1em auto;
  list-style: none;
  border-radius: 20px;
}

.item,
.item a {
  display: block;
}

.item a {
  margin: 1px 0;
  padding: 8px 20px;
  color: #d8d7d7;
  background: #191e25;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border-radius: 20px;
}

.item a i {
  margin: 1px 0;
  padding: 8px 20px;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border-radius: 20px;
}

.item a:hover,
.item a:focus {
  background: #c8c8c8;
  color: #191e25;
  padding-left: 30px;
  border-radius: 20px;
}

.home {
  background-color: #191e25;
  width: 85%;
  border-radius: 20px;
  font-family: 'poppins', sans-serif;
  color: white;
}

.info1{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.info1 img{
    border-radius: 20%;
}

.info2{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.info2 img{
    width: 204px;
    height: 247px;
    border-radius: 20%;
}

.info3{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.info3 img{
    width: 204px;
    height: 247px;
    border-radius: 20%;
}

.info4{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.info4 img{
    width: 204px;
    height: 247px;
    border-radius: 20%;
}

.info5{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.info5 img{
    width: 204px;
    height: 247px;
    border-radius: 20%;
}